*.bin
*/lightning_logs/
__pycache__
*/evaluation/__pycache__/
*/evaluation/local_config*
*/wandb/
*/local_config*
*/checkpoints

diffusion-llms/data/*/
!diffusion-llms/data/recipe/

*.ckpt
.DS_Store
local_data

.venv